{% extends "base.html" %}

{% block title %}Instagram Profiles{% endblock title %}

{% block content %}
    <div class="container mt-4">
        {% if request.user.is_authenticated %}
            <div class="d-flex justify-content-between align-items-center">
                <h2>Hi, {{ request.user.username }}!</h2>
                <!-- Button to add a new Instagram profile -->
                <a href="{% url 'add_instprofile' %}" class="btn btn-success">Add Profile</a>
            </div>
            <hr>
            <h2>Instagram Profiles List</h2>
            <ol class="list-group">
                {% for profile in object_list|dictsortreversed:"id" %}
                    <li class="list-group-item">
                        <span class="badge bg-secondary">{{ forloop.counter }}</span>
                        <span style="margin-left: 10px; font-weight: bold;">{{ profile.name }}</span> - {{ profile.link }}
                        <span class="badge bg-primary">Followers: {{ profile.followers_count }}</span>
                        
                        <!-- Add a delete button with a confirmation dialog -->
                        <form method="post" action="{% url 'delete_instprofile' profile.id %}" class="d-inline"
                              onsubmit="return confirm('Are you sure you want to delete this profile?');">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </li>
                {% endfor %}
            </ol>
        {% else %}
            <p class="mb-4">You must be logged in to see this page</p>
            <a href="{% url 'login' %}" class="btn btn-primary">Log In</a>
            <a href="{% url 'signup' %}" class="btn btn-success">Sign Up</a>
        {% endif %}
    </div>
{% endblock content %}
